body{
  font-family: 'Alegreya Sans SC', serif;
  background-color:#f1f1f1;
  background-image: url('/images/concrete_seamless.png');
  display: flex;
  flex-direction: column;
}
a, a:visited {
  color: blue;
}

header img{
  width: 500px;
    animation-name: logomove;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

/* 關鍵影格(@keyframe) */
@keyframes logomove {
  from{
      top:-100;
      width:50px;
      opacity: 0;
  }
  to{
      top: 0;
      width: 425px;
      opacity: 1;
  }
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.nav_links{
  display: flex;
  flex-direction: column;
}

.card header{
  background: #288088;
  border: solid 2px #45ADAD;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 7px 7px 0 0;
}

.pricing{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.card{
  flex-basis: 450px;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.gallery img{
  border: solid 10px #50C7C7;
  margin: 10px;
  width: 300px;


}


/* desktop styles starts*/
@media screen and (min-width:850px) { 
  body>header{
      flex-direction: row;
      justify-content: space-between;
      position: sticky;
      top: 0;
  }
  header{
      flex-direction: row;
      justify-content: space-between;
  }
  .nav_links{
      flex-direction: row;
  }
  .pricing{
      flex-direction: row;
  }
  .card{
      flex-basis: 250px;
  }
}
/* desktop styles ends*/



/* print styles sarts*/
/*@media print*/
@media print{
  body{
      background-image: none;
  }
  nav{
      width: 100%;
      }

  body>header{
      flex-direction: column;
  }

  .nav_links{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
  }
  .gallery{
      display: none;
  }
  .card{
      flex-basis: 250px;
      border: solid 2px #45ADDD;
      align-self: flex-end;
      flex-direction: row;
  }
  .pricing{
      align-self: flex-end;
      flex-direction: row;
  }

  #gallery{
      display: none;
  }

  .card li:nth-child(1)::before {
      content: "👍";
    }
  .card li:nth-child(2)::after {
      content: "👍";
    }
  .card li:nth-child(3)::before {
      content: "👍";
    }
}
/* print styles ends*/



/* prefers-reduced-motion*/
@media (prefers-reduced-motion) {
  header img {
    animation: none;
  }
}